@import '../node_modules/sanitize.css';
@import '../node_modules/sanitize.css/forms.css';
@import '../node_modules/sanitize.css/typography.css';

body {
	text-align: center;
	background-color: #333;
	color: white;
}

.container {
	position: relative;
	margin: 3rem auto 0 auto;
	background-color: purple;
}

#maze, #walls {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
}